.navigation {
  display: flex;
  gap: 46px;
  align-items: center;
  justify-content: center;
}

.link {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  color: #1e1e1e;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: #291b1b;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}
